html {
  font-family: "Merriweather", serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

header {
  color: #fff;
  background-color: #d05c2e;
}

.left {
  float: left;
  width: 40px
}

.right {
  float: right;
  width: 40px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

nav {
  clear: both;
  font-size: 1.125rem;
  text-align: center;
}

ul {
  margin: 0;
}

li {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

a:hover {
  background-color: #a63f38;
}
